header.header
    padding: 30px
    +clearfix
    h1
        float: right
nav ul
    float: right
    +reset(all)
    +reset(list)
    li
        display: inline
        font-size: 20px
        a
            text-decoration: none !important
            color: white !important
            padding-right: 30px
            padding-top: 25px !important
            display: inline-block
    .dropdown-menu a
        color: black !important
        padding-top: 10px !important

.player
    position: fixed
    padding: 30px
    bottom: 0 !important
    width: 100%
    height: 200px
    +opacity(0)
    +transition
    &:hover
        +opacity(100)


.tubular-shield
    +find(red)

